:root{
  --color-primary: #FF2E63;
  --color-secondary:#FF2E63;
  --color-gray:#EAEAEA;
  --color-dark: #252A34;
}

$color-primary: #08D9D6;
$color-secondary:  #ff2e63;
$color-gray: #EAEAEA;
$color-dark: #252A34;